@model List<UniversityRating.Models.TeacherStatusViewModel>

<div class="col-md-12">

    <table class="table" style="margin-top: 2em;">
        <tr style="font-size: 1.3em;">
            <th>
                ФИО
            </th>
            <th>
                Б-1
            </th>
            <th>
                Б-2
            </th>
            <th>
                Б-3
            </th>
            <th>
                Б-4
            </th>
            <th>
                Б-5
            </th>
            <th>
                Итого
            </th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <a href="/TeachersRoom/ShowMarks?id=1&idTeacher=@Model[i].IdTeacher">@Html.DisplayFor(m => Model[i].FIO)</a>
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block1)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block2)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block3)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block4)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block5)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].blockTotal)
                </td>
            </tr>
        }

    </table>
</div>