@model List<UniversityRating.Models.KafedraStatusViewModel>

<div class="col-md-12">

    <table class="table" style="margin-top: 2em;">
        <tr style="font-size: 1.3em;">
            <th>
                Название кафедры
            </th>
            <th>
                Б-1
            </th>
            <th>
                Б-2
            </th>
            <th>
                Б-3
            </th>
            <th>
                Б-4
            </th>
            <th>
                Б-5
            </th>
            <th>
                Итого
            </th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <a href="/KafedraPanel/ShowMarks?id=1&idKafedra=@Model[i].IdKafedra">@Html.DisplayFor(m => Model[i].Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block1)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block2)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block3)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block4)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].block5)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].blockTotal)
                </td>
            </tr>
        }

    </table>
</div>